.myphoto{
    width: 150px;
    border-radius: 10px;
}
.card{
    justify-content: space-around;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    background-color: rgb(192, 205, 216);
    text-align: center;
}
.box{
    padding-left: 20px;
    background-color: rgb(171, 209, 209);
}
.border_blue{
    border : 1px dotted rgb(81, 81, 146);
    
}